.hzOJBo {
    display: flex;
} 

.izbOwX {
    color: #ff5f49 !important;
}

/* .sc-eDvSVe {
    display: flex;
    flex-direction: row;
} */
/* 
.sc-hLBbgP {
    display: flex;
    flex-direction: row;
}

/* .eBzjCD {
    display: flex;
    flex-direction: row;
} */

