@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box ;
}
/* html {
  height: 100%;
  width: 100%;
}
#root {
  height: 100vh;
} */
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}

body.active {
  overflow: hidden;
}
.restaurant .slick-prev {
  width: auto;
  height: auto;
  left: 20px;
  z-index: 1;
}
.restaurant .slick-next {
  width: auto;
  height: auto;
  right: 20px;
  z-index: 1;
}
.restaurant .slick-prev:before {
  font-size: 40px;
  color: white !important;
}
.restaurant .slick-next:before {
  font-size: 40px;
  color: white !important;
}
.restaurant .slick-list {
  height: 100% !important;
}
.restaurant .slick-slide {
  padding: 0 !important;
}
.restaurant .slick-track {
  height: 100% !important;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

/* .homepage-dark .slick-prev:before,
.homepage-dark .slick-next:before {
  color: lightgray !important;
} */

.leaflet-popup-content p {
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.active {
  color: #ff5f49;
}