@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/* #restReviews ~ html {
  overflow: hidden;
} */
/* html:has(#restReviews) {
  overflow: hidden;
} */

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 10px;
    }
    .scrollbar::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    .scrollbar::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }
}

body.active {
    overflow: hidden;
}
#innerScroll.active {
    overflow: hidden;
}
.restaurant .slick-prev {
    width: auto;
    height: auto;
    left: 20px;
    z-index: 1;
}
.restaurant .slick-next {
    width: auto;
    height: auto;
    right: 20px;
    z-index: 1;
}
/* .restaurant .slick-prev:before {
  font-size: 40px;
  color: white !important;
} */
.restaurant .slick-prev:before,
.restaurant .slick-next:before {
    font-size: 40px;
    color: white !important;
}
.restaurant .slick-list {
    height: 100% !important;
}
.restaurant .slick-slide {
    padding: 0 !important;
}
.restaurant .slick-track {
    height: 100% !important;
}

.slick-prev:before,
.slick-next:before {
    color: black !important;
}

/* .homepage-dark .slick-prev:before,
.homepage-dark .slick-next:before {
  color: lightgray !important;
} */

.leaflet-popup-content p {
    margin: 0;
    margin-bottom: 2px;
}

header .active {
    color: #ff5f49;
}

/* .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: #ff5f49 !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: black !important;
}
.dark .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: #f0f0f0 !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color: #ff5f49 !important;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}
.css-1hv8oq8-MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    margin-top: 5px !important;
}
.dark .css-1hv8oq8-MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    color: #f0f0f0 !important;
} */


.timeblock.active {
    background-color: #ff5f49;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

@media (min-width: 1024px) {
    html:has(#restReviews) {
        overflow: hidden;
    }
}
